<% layout('../layouts/boilerplate.ejs') %>
    <!-- <a href="/renderForm" class="btn btn-success">renderForm</a> -->
    <!-- DLS gallery template -->
    <div class ="container d-flex quote-container justify-content-center">

            <h2 class ="text-center">Capturing stories with every shutter.</h2>
       
    </div>

    <div class="container mb-6 index-container">
        <!-- NTS: make feature to make new category model -->
            <!-- find model by given id and display -->
            <!-- can display carouselImages cateogry here -->
            <!-- carouasel pictures here -->
        <!-- <div class="row"> -->
        <div class="row mb-4 justify-content-md-center">

            <!-- left column -->
            <div class="col-md-5">
                <div id="carouselExampleIndicators" class="carousel slide carousel-fade mb-2 image-container">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  </div>
                
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class = "d-block w-100 image-container" src="https://res.cloudinary.com/duhazr5mo/image/upload/v1705533559/DlsGallery/movieCollage1_owsbij.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5><a class = "text-white"  href="https://www.instagram.com/dls_gallery/">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                width="16" height="16" fill="currentColor" class="bi bi-camera camera-icon" viewBox="0 0 16 16">
                                <path
                                  d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
                                <path
                                  d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                                  </svg>
                            </a></h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class = "d-block w-100 image-container" src="https://res.cloudinary.com/duhazr5mo/image/upload/v1705533560/DlsGallery/movieCollage5_n1yjtm.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5><a class = "text-white"  href="https://www.instagram.com/dls_gallery/">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                width="16" height="16" fill="currentColor" class="bi bi-camera camera-icon" viewBox="0 0 16 16">
                                <path
                                  d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
                                <path
                                  d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                                  </svg>
                            </a></h5>
                        </div>
                    </div>
                    <div class="carousel-item ">
                      <img class = "d-block w-100 image-container" src="https://res.cloudinary.com/duhazr5mo/image/upload/v1705533560/DlsGallery/movieCollage4_ksismp.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5><a class = "text-white" href="https://www.instagram.com/dls_gallery/">
                            <!-- camera svg -->
                            <svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-camera camera-icon" viewBox="0 0 16 16">
                            <path
                              d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
                            <path
                              d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                              </svg>
                        </a></h5>
                    </div>
                    </div>
                    <div class="carousel-item">
                        <img class = "d-block w-100 image-container" src="https://res.cloudinary.com/duhazr5mo/image/upload/v1705533560/DlsGallery/movieCollage3_szdqtp.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5><a class = "text-white" href="https://www.instagram.com/dls_gallery/">
                                 <!-- camera svg -->
                            <svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-camera camera-icon" viewBox="0 0 16 16">
                            <path
                              d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
                            <path
                              d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                              </svg>
                            </a></h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class = "d-block w-100 image-container" src="https://res.cloudinary.com/duhazr5mo/image/upload/v1705533559/DlsGallery/movieCollage2_ornukr.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5><a class = "text-white"  href="https://www.instagram.com/dls_gallery/"> <!-- camera svg -->
                                <svg xmlns="http://www.w3.org/2000/svg"
                                width="16" height="16" fill="currentColor" class="bi bi-camera camera-icon" viewBox="0 0 16 16">
                                <path
                                  d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
                                <path
                                  d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                                  </svg>
                            </a></h5>
                        </div>
                    </div>
               


                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>

                </div>
                </div>
                <div class ="flex-grow-1 card image-container">
                    <img class="image-container d-block w-100" src="https://res.cloudinary.com/duhazr5mo/image/upload/v1705608369/DlsGallery/15001E1B-4A98-4083-A98E-024362EE29AD_1_105_c_yigtp4.jpg" alt="">
                    <div class ="card-img-overlay d-flex justify-content-center align-items-end">
                        <h5 class="txt-container text-white">San Diego, California</h5>
                    </div>
                </div>
            </div>

            <!-- right column -->
            <div class="col-md-7 d-flex flex-column">
                <div class="flex-grow-1 mb-2 mt-2 card image-container">
                    <img class = "image-container d-block w-100"src="https://res.cloudinary.com/duhazr5mo/image/upload/v1705603765/DlsGallery/7A93DC9A-E697-4ACC-B508-26562BF28986_1_105_c_bi1xxm.jpg" alt="">
                    <div class ="card-img-overlay d-flex justify-content-center align-items-end">
                        <h5 class="txt-container text-white">Manhattan, New York</h5>
                    </div>
                    
                </div>
                <div class = "flex-grow-1 card image-container">
                        <img class="image-container d-block w-100" src="https://res.cloudinary.com/duhazr5mo/image/upload/v1705608350/DlsGallery/C3706537-63E8-4E9C-8AEE-56889DFC9804_1_105_c_yrepzz.jpg" alt="">
                        <div class ="card-img-overlay d-flex justify-content-center align-items-end">
                            <h5 class="txt-container text-white">San Diego, California</h5>
                        </div>
                </div>
            </div>

        </div>
        <!-- end of carousel -->


        <div class="row d-flex justify-content-center">
            <div class="col-md-4">
                <% for(let i=0;i<Math.floor(image.images.length/3);i++){ %>
                    <div class="photo mb-2">
                        <img class="img-fluid image-container" src="<%= image.images[i].url %>" alt="image">
                    </div>
                <% } %>
            </div>
            <div class="col-md-4">
                <% for(let i =Math.floor(image.images.length/3);i<2*Math.floor(image.images.length/3);i++){ %>
                <div class="photo mb-2">
                    <img class="img-fluid image-container" src="<%= image.images[i].url %>" alt="image">
                </div>
                <% } %>
            </div>
            <div class="col-md-4 mb-3">
                <% for(let i =2*Math.floor(image.images.length/3);i<image.images.length;i++){ %>
                <div class="photo mb-2">
                    <img class="img-fluid image-container" src="<%= image.images[i].url %>" alt="image">
                </div>
                <% } %>
            </div>

        </div>
        <div class ="justify-content-center align-items-center txt-container mt-4">
            <h3 class="text-center">More to come!</h3>

        </div>
    </div>