<% layout('../layouts/boilerplate.ejs') %>
<div class ="container">
    <div class = "row d-flex justify-content-center">
        <div class = "col-8">
        <form action="/users/create-new-category" method ="POST" enctype="multipart/form-data">
        <!-- <div class = "mb-3">
            <label for="images">New Image:</label>
            <input type="text" id="images" name = "images">
        </div> -->

        <div class = "mb-3">
            <label for="image" class = "form-label"></label>
            <input class = "form-control" type="file" name = "image" multiple required>
        </div>
        <button class ="btn btn-success">Submit</button>
        </form>
        </div>
    </div>
</div>
<!-- maybe -->
